@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper{ 
  box-shadow: 0 0 25px #0ef;
  /* color: lightseagreen; */
  background: linear-gradient(135deg, lightseagreen 49%, transparent 30%);
  border-radius: 10px;
         
}

.wrapper2{
   background: linear-gradient(-135deg, lightseagreen 45%, transparent 30%);
  box-shadow: 0 0 25px #0ef;
  border-radius: 10px;
}

.forgot_pass{
  text-align: right !important;
}


@media (max-width: 650px) {
  .wrapper2{
    /* color: red !important; */
   background: linear-gradient(-135deg, transparent 45%, lightseagreen 30%) !important;

  }

  .registerSec{
    text-align: right !important;
  }
}


.wrapper3{
  box-shadow: 0 0 25px #0ef;
  background: linear-gradient(120deg, lightseagreen 49%, transparent 30%);
  border-radius: 10px;
}

.werey{
  height: 220px !important;
  width: 220px !important; 
}

.werey2{
  height: 20px !important;
  width: 20px !important; 
}


.dashboard-sidebar-border{
  border-top-right-radius: 55px !important;
  border-bottom-right-radius: 55px !important;
}


.text-gold {
  color: gold; /* Adjust as necessary */
}